---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import React from "./icons/React.astro"
import Docker from "./icons/Docker.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-blue-500 text-white",
    icon: React,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-blue-500 text-white",
    icon: Docker
  }
}
const PROJECTS = [
  {
    title: "TAKE&GO - Food Delivery",
    description:
      "Web application for ordering food online. Users can view different menus, add items to the cart, and place an order. Admins can manage orders status and delete products.",
    link: "",
    github: "",
    image: "/projects/shot-takego.png",
    tags: [TAGS.NEXT, TAGS.REACT, TAGS.DOCKER, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {PROJECTS.map(({ image, title, description, tags, link, github }) => (
  <div
    class="relative group bg-gray-700 rounded-lg overflow-hidden shadow-lg transition-all duration-300 hover:shadow-xl hover:scale-[1.02]"
  >
    <img
      src={image}
      alt={title}
      class="absolute inset-0 w-full h-full object-cover opacity-50 group-hover:opacity-70 transition-opacity duration-300"
    />
    <div class="relative z-10 p-8 sm:p-12 backdrop-blur-sm bg-black bg-opacity-30 group-hover:bg-opacity-50 transition-all duration-300">
      <h3 class="text-2xl text-gray-200 font-bold mb-4">{title}</h3>
      <p class="text-gray-300 mb-6">{description}</p>
      <div class="flex flex-wrap gap-2 mb-6">
        {tags.map((tag, i) => (
          <span class="bg-gray-800 text-white text-sm font-semibold px-3 py-1 rounded-full">
            <tag.icon class="w-4 h-4 inline-block mr-1" />
            {tag.name}

          </span>
        ))}
      </div>
      <div class="flex space-x-6">
        <a
          href={link}
          target="_blank"
          rel="noopener noreferrer"
          class="text-teal-400 hover:text-teal-600 font-medium transition-colors"
        >
          Live Demo
        </a>
        <a
          href={github}
          target="_blank"
          rel="noopener noreferrer"
          class="text-teal-400 hover:text-teal-600 font-medium transition-colors"
        >
          <GitHub class="w-6 h-6 inline-block" />
        </a>
      </div>
    </div>
  </div>
))}
</div>



